:root {
  --green:rgb(106, 170, 100);  /* #6aaa64 */
  --yellow:rgb(201, 180, 88);  /* #c9b458 */
  --gray:rgb(134, 136, 138);  /* #86888a */
  --lightgray:rgb(211, 211, 211);  /* #d3d3d3; */
  --darkfalse-green:var(--green);
  --darktrue-green:rgb(83, 141, 78); /* #538d4e */
  --darkfalse-yellow:var(--yellow);
  --darktrue-yellow:rgb(181, 159, 59); /* #b59f3b */
  --darkfalse-gray:var(--gray);
  --darktrue-gray:rgb(58, 58, 60); /* #3a3a3c */
  --darkbackground:rgb(18, 18, 19); /* #121213; */
  --darkkey:rgb(129, 131, 132); /* #818384 */
  --border: 1px solid black;
  --darktrue-border: 1px solid var(--darktrue-gray);
  --darkfalse-blue:lightsteelblue;
  --darktrue-blue:rgb(3, 11, 168);
}

div {
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

#homepage {
  height: 50px;
}

#header {
  border-bottom: var(--border);
  margin-top: auto;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

#wordle-by-date-button, #view-answer, #custom-wordle-copy-clipboard, #custom-wordle-resubmit-button, .hidden-form, #hidden_iframe {
  display: none;
}

#about {
  display: none;
  touch-action: manipulation;
}

#custom {
  display: none;
  touch-action: manipulation;
}

.bottom-button {
  margin-bottom: 5px;
}

#main-content {
  margin-top: 0.5rem;
}

.date-selector {
  font-size: 1.5rem;
}

.solved {
  background-color: lightgreen;
}

.bad-message {
  color: red;
}

.overlay {
  border: var(--border);
  text-align: center;
  padding: 10px;
  margin: 10px auto;
  z-index: 100;
}

.invalid-word {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  left: 0;
  right: 0;
}

.dist {
  margin-bottom: 2%;
}

.overlay-subheader {
  font-weight: bold;
}

#copy-to-clipboard-button, #reddit-share-button {
  margin-top: 5px;
}

.tile {
    border: var(--border);
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    font-size: 50px;
    line-height: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    text-transform: uppercase;
    user-select: none;
}

.tile::before {
    content: '';
    display: inline-block;
    padding-bottom: 100%;
}

#keyboard {
  padding: 10px;
}

.button-key {
  line-height: 3rem;
  background-color: var(--lightgray);
  border-radius: 10px;
  margin: 5px 2px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
}

.half {
  flex: 0.5;
}

.top-word-button {
  margin-bottom: 2px;
  margin-right: 5px;

}

.subsection {
  padding-top: 10px;
}

.words-box {
  border: var(--border);
  width: 100%;
  height: 10rem;
  overflow-y: scroll;
  resize: both;
}

.hidden-form {
  display: none;
}

@media (max-width: 992px) {
  .button-key {
    line-height: 7rem;
    font-size: 3rem;
  }
}

/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height: 250px;
  overflow: auto;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
